
.homeLink {
    color: white;
    padding: 0.7em; 
    font-size: 1.2rem;
    text-decoration: none;
   
    display: inline-block;
    margin-left: 2rem;
    background-color: var(--button-color);
    border-radius: 3rem;
    margin-top: 1rem;
    
}

.homeBack {
    display: flex;
  

}