.navContainer {
    width: 100%;
   

}

.banner__container {
    width: 100%;
    
    padding:0.8rem
}

.banner__img{
    height: 350px;
    width: 100%;
    object-fit: contain;
  
}
.linksContainer {

    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    align-items: center;
    top:0;

    background-color: var(--back-ground);

}

.aboutLink,
.homeLink,.favorites {
    width: 10%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0.7em;
    text-decoration: none;
    
    background-color: var(--button-color);
    margin: 0.5rem;
     border-radius: 3rem;
     font-size: 1.3rem;

}

.favorites:hover{
    background-color: var(--hoover-action);
    text-decoration: underline;
}
.next{
    background-color: var(--hoover-action);
   
}
.next:hover {
    background-color: var(--button-color);
}

.font__icon{
    font-size: 2rem;
}


@media(max-width:767px) {
.navContainer {
        display: none;
    }
}