.cardContainer {
    padding: 4rem;
    border: 2px solid white;
    margin: 0.2em;
    border-radius: 0.5em;
    background: var(--button-color);
    display: flex;
    flex-direction: column;
    
    
}
.cardContainer:hover{
    background-color: var(--hoover-action);
}

.cardImg {
    width: 100%;
    border-radius: 50%;
}

.close {
    
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    
    margin: auto;
}
.close:hover {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--button-color);
    width: 20%;
    margin: auto;
}
.charName {
    text-decoration: none;
    color:var(--font-color)
}

.charName:hover {
    color: white
}
.likeContainer{ 
    display: flex;
    justify-content: flex-end;
}

.favorite{
    width: 30%;
    padding: 0.5rem;
    color: white;
     background-color: rgb(129, 85, 139);
     
    
}

.button { 
    background: transparent;
    border: none;
}

.favoriteStatus{
    background-color: red;
}

 @media(min-width: 767px ){
    .cardContainer {
        padding: 4rem;
        border: 2px solid white;
    
        background: var(--button-color);
        display:flex;
        justify-content: center;
        width: 70%;
        margin: auto;
        margin-bottom: 0.8rem;



    }
} 