.tittle {
    font-size: 4rem;
    background-color:var(--button-color);
    color: black;
 
    font-family: 'Indie Flower', cursive;
    
}
.intro {
    font-weight: 600;
    font-size: 1.5rem;
}
.searchContainer {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 30%;
    height: 2.4em;
    margin: 0.5em;
    border-radius: 0.5em;
}